<footer class="footer">
  <div class="container text-center">
    <a class="logo_space" href="#">
      <%= image_tag 'logo.png', alt: 'App Logo', class: 'app-logo' %>
    </a>
    <span class="text_com">mysetsu.com</span>
  </div>
</footer>