.footer-1 {
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center; /* 縦方向の中央揃え */
  height: 120px; /* フッターの高さを適宜設定 */
  background-color:#F0EFE9;
  width: 100vw;

}

.footer-content {
  background-color:#F0EFE9;
}

.app-logo {
  width: 100px;
  height: auto;
}


.text_com {
  font-size: 13px;
  margin-top: 10px; /* 上下の間隔を調整 */
  padding-left: 11px;
}

