.second-header {
  width: 100vw;
  min-width: 800px;
  height: 130px;
  background-color: #F0EFE9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: 250px;
  height: auto;
}