<%= render "shared/header" %>

<div class="main">
  <div class="parent">
    <div class="child">
      <%= image_tag 'logo.png', alt: 'App Logo', class: 'app-logo' %> 
    </div>
  </div>
</div>

<%= render "shared/footer" %>