/* フォーム全体のスタイル */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.actions{
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}


.btn-primary {
  width: 100%;
  background: #970747;
  border: 1px solid #970747;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 30px;
}





h1 {
  text-align: center;
  margin-bottom: 20px;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forms-wraps{
  background-image: url('haikei.png');
  background-size: cover; /* 画像をコンテナのサイズに合わせる */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  min-height: 100vh; /* コンテナの高さを全画面に設定 */

  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; 
}




.form-class{
  width: 100%; 
  max-width: 600px;
  padding: 40px
}
.form-box {
  background-color: #E3DED2;
  padding-bottom: 50px;
  padding-top: 30px;
  border-radius: 20px;
}

.input-with-suffix {
  display: flex;
  align-items: center;
}

.form-control-with-suffix {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.suffix {
  margin-left: 10px;
  font-size: 16px;
}

