body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}


.home-container{
  background-image: url('book2.png');
  background-size: cover; /* 画像をコンテナのサイズに合わせる */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
  min-height: 100vh; /* コンテナの高さを全画面に設定 */
  position: relative; /* 子要素の絶対位置を基準にする */
  width: 100vw;
  padding: 35px 0 ;
}


.home-top-container{
  display: flex;
  justify-content: space-around;
  height: auto;
  width: 1050px;
  margin-bottom: 35px;
}




.app-preview{
  width: 650px;
  height: auto;
  border-radius: 6px
}

.app-kanngaeru{
  width: auto;
  height: 250px;
  border-radius: 6px
}


.left-text-container{
  border-radius: 50% 20% / 10% 40%;
  padding: 7px 20px;
  background-color: #e9dcbc9e;
  margin: 10px 0 0 0;
}

.left-picture-container{
  display: flex;
  justify-content: center;
  padding-top: 7px;
}

.home-bottom-container{  
  background-color: #e9dcbcb8;
  border-radius: 50% 20% / 10% 40%;
  width: 1040px;
}

.bottom-center-container{
  padding: 15px 100px 21px 100px;
}

.user_index_button{
  color: #333;
  background-color: #dcc68f;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.user_index_button:hover {
  background-color: #970747;
  
}

.start_container{
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center;
}
.start_container2{
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center;
}

.home-container-box{
  display: flex;
  justify-content: center;
}

.right-top-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-top-container{
  padding: 15px;
  border-radius: 6px;
  background-color: #e9dcbc9e;
}


.nav-item-first{
  padding: 0 15px;
}
