<div class="container text-center">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">はじめにユーザー名について</a>
    <a href="#" class="list-group-item list-group-item-action">生活において</a>
    <a href="#" class="list-group-item list-group-item-action">仕事において</a>
    <a href="#" class="list-group-item list-group-item-action">学校において</a>
    <a href="#" class="list-group-item list-group-item-action">パートナー、恋人において</a>
    <a href="#" class="list-group-item list-group-item-action btn btn-primary mt-3">項目を追加する</a>
  </div>
</div>